<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlexAPI</title>
</head>
<body>
   <h1>Welcome to MyBasicAPI</h1>
   <form action="/submit" method="post">
     <label for="fname">height:</label>
     <input type="number" step = "0.01" id="height" name="height"><br><br>
     <label for="lname">weight:</label>
     <input type="number" step = "0.01" id="weight" name="weight"><br><br>
     <p><input type = "submit" value = "Votre IMC Pokemon" /></p>
   </form>
</body>
</html>
